* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 50, 50);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 64px;
    text-align: center;
    margin-bottom: 128px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 300px;
    height: 300px;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 48px;
    color: white;
    border: 5px solid white;
}

td.circle {
    background-color: transparent;
    border-radius: 50%;
}

td.cross {
    background-color: transparent;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}


